[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  VITE_API_URL = "https://merry-jennet-lenient.ngrok-free.app/api/v1"
  VITE_DOMAIN_URL = "https://merry-jennet-lenient.ngrok-free.app"

[dev]
  command = "npm run dev"
  port = 5173

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"